<div class="p-4 py-6 mx-auto max-w-screen-xl md:p-8 lg:-10">
    <div class="grid grid-cols-2 gap-8 lg:grid-cols-6">
        <div class="col-span-2">
            <a href="#" class="flex items-center mb-2 text-2xl gap-x-2 font-semibold text-gray-900 dark:text-white">
                <ng-icon class="text-logo" size="18" name="octCheckCircleFill"></ng-icon>
                Actionforge
            </a>
            <p class="my-4 text-gray-500 dark:text-gray-400 max-w-[50%] lg:max-w-full">
                Built in 2023 by the creator of <a href="https://www.snowtrack.io" target="_blank"
                    class="text-link hover:underline">Snowtrack</a>, Actionforge offers a fresh perspective
                on
                CI/CD for
                developers.
                Focus on building your project, not workflow configurations.
            </p>
        </div>
        <div class="lg:mx-auto">
            <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Help center</h2>
            <ul class="text-gray-500 dark:text-gray-400">
                <li class="mb-4 flex flex-row items-center">
                    <a href="#" class="hover:underline" [matTooltip]="(es.e$| async) || ''" matTooltipPosition="left"
                        #emailLink>Get in touch</a>
                </li>
                <li class="mb-4 flex flex-row items-center gap-x-2">
                    <ng-icon name="simpleTwitter"></ng-icon>
                    <a href="https://twitter.com/actionforge" class="hover:underline" target="_blank">Twitter</a>
                </li>
                <li class="mb-4 flex flex-row items-center gap-x-2">
                    <ng-icon name="simpleDiscord"></ng-icon>
                    <a href="https://discord.gg/DjVT6amcsf" class="hover:underline" target="_blank">Discord</a>
                </li>
                <li class="mb-4 flex flex-row items-center gap-x-2">
                    <ng-icon name="simpleGithub"></ng-icon>
                    <a href="https://github.com/actionforge" class="hover:underline" target="_blank">GitHub</a>
                </li>
            </ul>
        </div>
        <div class="lg:mx-auto">
            <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
            <ul class="text-gray-500 dark:text-gray-400">
                <li class="mb-4">
                    <a href="https://www.sebastianrath.io" class="hover:underline" target="_blank">About</a>
                </li>
                <li class="mb-4">
                    <a href="https://github.com/actionforge/legal/blob/main/LICENSE.md" target="_blank"
                        class="hover:underline">Community License</a>
                </li>
                <li class="mb-4">
                    <a href="https://github.com/actionforge/legal/blob/main/CODE_OF_CONDUCT.md" target="_blank"
                        class="hover:underline">Code of
                        Conduct</a>
                </li>
                <li class="mb-4">
                    <a href="https://github.com/actionforge/legal/blob/main/SECURITY.md" target="_blank"
                        class="hover:underline">Security
                        policy</a>
                </li>
                <li class="mb-4">
                    <a href="https://github.com/actionforge/legal/blob/main/PRIVACY_POLICY.md" target="_blank"
                        class="hover:underline">Privacy
                        policy</a>
                </li>
            </ul>
        </div>
    </div>
    <hr class="my-6 border-gray-200 mx-auto dark:border-gray-700 lg:my-8">
    <span class="block text-sm mb-4 text-center text-gray-500 dark:text-gray-400">© 2023 <a href="#"
            class="hover:underline">Actionforge</a>. All Rights Reserved.</span>
    <span class="block text-sm text-center text-gray-500 dark:text-gray-400">GitHub is a registered
        trademark
        belonging to its respective owner, GitHub, Inc. Actionforge is not affiliated with GitHub
        Inc.</span>

</div>